.content {
  background-color: white;
  padding: 1em;
  min-height: calc(100vh - 219px);

  p {
    text-align: justify;
    // margin: 0.25em 0;
  }

  & > div {
    width: 70%;
    margin: 0 auto;

    & > img {
      display: block;
      margin: 0 auto;
    }
  }

  .paragraphe-with-image {
    display: flex;

    img {
      margin: 0.5em;
    }
  }

  .citation {
    span {
      font-style: italic;
    }
  }

  .affiche {
    max-width: 40%;

    &-paysage {
      max-width: 90%;
    }
  }

  .bold {
    font-weight: bold;
  }

  .centered-video-container {
    display: flex;
    justify-content: center;

    & > *:not(:last-child) {
      margin-right: 1em;
    }
  }

  .press-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    & > div {
      width: min-content;
      legend {
        font-size: 0.8em;
        font-style: italic;
      }

      img {
        max-height: 400px;
      }
    }
  }
}
