{% extends 'base.html.twig' %}
    
 {% block title %} La Fanfare en Plastic {% endblock %}
    
 {% block body %}
    <script>
         window.BASE_URL = "{{host}}"
    </script>
    
     <div id="root">
        
     </div>
    
 {% endblock %}